.footercard{
    width: 100%;
    
}

.footer-container{
    margin-left: 100px;
    
}

.row1{
    margin-top: 75px;
    margin-bottom:25px;
}

.col{
    margin-top: 15px;
}

.col1{
    margin-top: 20px;
}

.col2{
    margin-right: 10px;
    padding: 10px;;
}

.media-container{
    width: 30%;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.copyright-container{
    width: 100%;
    text-align: center;
}

.col3{
    text-align: center;
}

.container-links{
    float: right;
    margin-top:0;
    margin-right:250px;
}
