


header{
  width:100%;
  margin:0;
}

.storemodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.storemodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 750px;
    border-radius: 5px;
}

p.index-modal-title{
  font-size:35px;
  text-align: center;
  position: relative;
}

p.index-modal-title{
  margin-bottom: 25px;
}

p.index-modal-subtitle{
  font-size:15px;
  text-align: center;
  position: relative;
  margin-bottom: 28px;
  display: block;
}

.index-modal-btn-store{
  background-color: #337ab7;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  border-style: none;
  color: white;
  margin:0 auto;
  width: 300px;
  height:60px;
}

.index-modal-btn-store:hover{
  background-color: #2e6da4;

}

a.client-portal-modal{
  color: white;
  line-height: none;
  text-decoration: none;
}

.modal-buttons-index{
  display: flex;
}

/* The Close Button */
.storeclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.storeclose:hover,
.storeclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The Client Portal Button */
.hmemodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.home-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 750px;
  border-radius: 5px;
}

/* The Close Button */
.homeclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.homeclose:hover,
.homeclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* nav bar css*/
.navcustom{
  background-color:black !important;
  padding:0;
}

.navbar-light .navbar-nav .nav-link{
  color:white !important;
  text-align: center;
  padding-top:28px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  height:80px;
  padding-right: 15px;
  padding-left: 15px;

}

.principles-index{
  text-align: center;

}

a.navbar-light .navbar-nav .nav-link{
margin-top:10px;
}

.navbar-light .navbar-nav .nav-link:hover{
background-color:rgb(1,51,120, 0.4);

}

#main-logo{
  width:auto;
  height:70px;
  padding:15px;

}

button#storeBtn{
  background-color:transparent;
  border:none;
}

button#homeBtn{
  background-color:white;
  border:none;
  height:80px;
  width:150px;
}

button#homeBtn:hover{
  background-color:#2e6da4;
  color:white;
}

a.client-portal{
  color:black;
}

a.client-portal:hover{
  color:white;

}


header{
  width:100%;
  position:fixed;
  margin-bottom:75px;
  z-index:1;
}

.navbar-nav{
  margin:auto;
}


.lead-hello{
  text-align: center;
}

h2.title-home{
  text-align:center;
}

main{
  padding-top:80px;
}

.jumbotron.jumbotron-fluid{
  margin-top: -32px !important;
  background-color: black;
  max-width: 100%;

}


/* //////Middle of Body/////*/
.card-group{
  width:100%;
  height:380px;
}
.col{
  text-align: left;
  width:100px;
  height:100px;
  margin-bottom:100px;
  margin-top:40px;

}

.card-img-top2{
  width: 75px;
  height: 75px;
}

.card1{
width:50%;
}
p *{
  line-height: 2em;
  font-size: 1pt;
}

h7{
  font-weight: bolder;
}
/*//////Scroll Button/////////*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 99;
  font-size: 5px;
  border: none;
  outline: none;
  background-color: lightgray;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: lightgray;
}


iframe {
    width:100%;
    height:100%;
}


.jumbotron{
background-color:black;
margin:0;
padding:0;
max-height:500px;
}

/*background #2*/
.site-header {

  position:absolute;
  top:left;
    /* padding:-1px; */
    height:900px;
    width:auto;
    background-size:100px;
    overflow:hidden;
    background-color:none;
    background-repeat:no-repeat;
    max-height:400px;
  }



/*Footer*/
.footercard{
width: 100%;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
background: linear-gradient(to bottom right, #013378 0%, #0172bf 100%);
 height:100%;

}

.footer-container{
margin-left: 100px;
color:white;
font-family: Arial, Helvetica, sans-serif;

}

/*Footer Contact form*/
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.container-form{
  width:300px !important;
  /* background: linear-gradient(to bottom right, #013378 0%, #0172bf 100%);  */
}
input[type=text1], select, textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  resize: vertical;
  /* background: linear-gradient(to bottom right, #013378 0%, #0172bf 100%);  */
  background:transparent;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1; /* Firefox */
}


input[type=submit1] {
  /* background: linear-gradient(to bottom right, #013378 0%, #0172bf 100%);  */
  color: white;
  padding: 3px 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ccc;
  margin-left: 20px;
  background:transparent;

}

/* input[type=submit1]:hover {
  background-color: #45a049;
} */

.core-principles{
  max-width:100%;
  max-height:100%;
}


.copyright-container{
    width: 100%;
    text-align: center;
}


a {
    /* text-shadow: 2px 2px 4px #000000; */
    color:white;

}

.lookWrap{
  overflow:hidden;
  float: left;
  width: 100%;
  height:auto;
  background: linear-gradient(to bottom right, #013378 0%, #0172bf 100%);
  -webkit-clip-path: polygon(48% 25%, 100% 34%, 100% 100%, 0 100%, 0 34%);
  clip-path: polygon(48% 25%, 100% 34%, 100% 100%, 0 100%, 0 34%);

}

.section{
  /* overflow: hidden; */
  float: left;
  display: inline;
  width: 160px;
  margin: 15px 25px 15px 25px;
  font: 5pt;
  line-height: 1.6em;
  margin-top:230px;
  margin-left: 75px;
  margin-right:0;
}

.card-link .find-us .lets-talk {
  font-size: 5pt;
}
.section a{
  display: block;
}

.bottom-footer {
  margin:0;
  width: 100%;
  text-align: center;
  clear: both;
  font: 10pt;
  line-height: 2em;
  margin-right:0;
  margin-bottom:0;
  font-size: 10pt;
}


.section2 *{
  float: left;
  width: 300px;
  font: 5pt;
  line-height: 1.6em;
  margin-left:200px;
  margin-right:100px;
  display: inline;

}

.section3 *{
  margin-left: 15px;

}

.find-us .lets-talk{
  margin-top:80px !important;
}

h4{
  text-align: left;
}

/*Text Animation*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.text {
  position: absolute;
  width: 850px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
 margin-bottom:-50%;
  margin-left:40px;

}

p {
  display: inline-block;
  vertical-align: top;
  font-size: 50px;
  margin-bottom:200px;


}

.word {
  position: absolute;
  width: 320px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}


/*Chart Animation*/
figure {
  background:transparent;
  display: block;
  height: 0;
  margin: 0 auto;
  position: relative;
  font-size:16px;
  font-size:1vw;
  width: 40em;
  padding-bottom: 40em;
  margin-right: 75%;
}
figcaption {
  font-size:1rem;
  text-align:center;
  color:#fff;
  width: 100%;
  position: absolute;
  left: 0;
  top:40%;
  z-index:2;
}
svg {
  display: block;
  height: 70%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  margin-top:80px;
}
circle {
	fill:rgba(0,0,0,0);
  stroke-width:31.8309886184;
  stroke-dasharray: 0,0,0,100;
  stroke-dashoffset: 25;
  -webkit-animation: pie1 3s infinite ease both;
  animation: pie1 6s infinite ease both;
}
.pie1 {
  stroke:rgb(219, 5, 5);
}
.pie2 {
  stroke:rgb(8, 4, 248);
  -webkit-animation-name: pie2;
  animation-name: pie2;
}
.pie3 {
  stroke:rgb(25, 2, 129);
  -webkit-animation-name: pie3;
  animation-name: pie3;
}
.pie4 {
  stroke:hsl(180,0%,70%);
  -webkit-animation-name: pie4;
  animation-name: pie4;
}
/*
 pie percentage made by stroke-dasharray.
 stroke-dasharray format is...

 keyframe 100% : 0 offset this-percentage rest

 I added keyframe 50% for infinite presentation.
*/

/* 1st pie is 40% */
@-webkit-keyframes pie1 {
  50%,100% {stroke-dasharray: 40,60,0,0;}
}
@keyframes pie1 {
  50%,100% {stroke-dasharray: 40,60,0,0;}
}
/* 2nd pie is 30% */
@-webkit-keyframes pie2 {
  50%,100% {stroke-dasharray: 0,40,30,30;}
}
@keyframes pie2 {
  50%,100% {stroke-dasharray: 0,40,30,30;}
}
/* 3rd pie is 30% */
@-webkit-keyframes pie3 {
  50%,100% {stroke-dasharray: 0,70,20,10;}
}
@keyframes pie3 {
  50%,100% {stroke-dasharray: 0,70,20,10;}
}
/* 4th pie is 10% */
@-webkit-keyframes pie4 {
  50%,100% {stroke-dasharray: 0,90,10,0;}
}
@keyframes pie4 {
  50%,100% {stroke-dasharray: 0,90,10,0;}
}


/*////////Media Queries/////*/

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .storemodal-content {
    width: 100%;
    margin:0;
    padding:0;
}

.navbar-nav .navbar-brand  .nav-item *{
  width: 100%;
  height:100%;
  margin:0;
  padding:0;


}

#main-logo #homeBtn *{
width: 50px;
height:20px;
margin:0;
padding:0;
}


.home-modal-content{
  width:100%;
  margin:0;
  padding:0;
}

.jumbotron .jumbotron.jumbotron-fluid{
  width:100%;
  height:50%;
  margin:0;
  padding:0;
}

.card-img-top2 *{
  height:100%;
  width:100%;
}
.card-group .card1{
  width:50%;
  height:50%;
  margin:0;
  padding:0;
  margin-top:50px;
}

.footercard .lookWrap .container-form .section2 .section3 *{
  width:100%;
  height:100%;
  padding:0;

}

#look{
  margin-top:10%;
}
.copyright-container{
  margin-left:-200px;
  display: block;
  flex-direction: column;
  font-size: 9px;
}

.media-container{
  display: block;
  flex-direction: row;

}
form{
  width:100%;
  height:50%;
}

/* .lets-talk h7 .find-us {
  padding:0;
  margin:0;
  margin-top:-300px;
  margin-bottom:-200px;
} */

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .storemodal-content {
    width: 100%;
    margin:0;
    padding:0;
}

.navbar-nav .navbar-brand  .nav-item *{
  width: 100%;
  height:100%;
  margin:0;
  padding:0;


}

#main-logo #homeBtn *{
width: 50px;
height:20px;
margin:0;
padding:0;
}


.home-modal-content{
  width:100%;
  margin:0;
  padding:0;
}

.jumbotron .jumbotron.jumbotron-fluid{
  width:100%;
  height:50%;
  margin:0;
  padding:0;
}

.card-img-top2 *{
  height:100%;
  width:100%;
}
.card-group .card1{
  width:50%;
  height:50%;
  margin:0;
  padding:0;
  margin-top:50px;
}

.footercard .lookWrap .container-form .section2 .section3 *{
  width:100%;
  height:100%;
  padding:0;

}

/* #look{
  margin-top:10%;
} */
.copyright-container{
  margin-left:-200px;
  display: block;
  flex-direction: column;
  font-size: 9px;
}

.media-container{
  display: block;
  flex-direction: row;

}
form{
  width:100%;
  height:50%;
}

/* .lets-talk h7 .find-us {
  padding:0;
  margin:0;
  margin-top:-300px;
  margin-bottom:-200px;
} */

}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .storemodal-content {
    width: 100%;
    margin:0;
    padding:0;
}

.navbar-nav .navbar-brand  .nav-item *{
  width: 100%;
  height:100%;
  margin:0;
  padding:0;


}

#main-logo #homeBtn *{
width: 50px;
height:20px;
margin:0;
padding:0;
}


.home-modal-content{
  width:100%;
  margin:0;
  padding:0;
}

.jumbotron .jumbotron.jumbotron-fluid{
  width:100%;
  margin:0;
  padding:0;
}



.card-img-top2 .card-img-top{
  height:200px;
}
.card-group .card1{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

.footercard .lookWrap .container-form .section2 .section3 *{
  width:100%;
  height:100%;
  margin: -100%;
  padding:0;

}

.copyright-container{
  margin-left:-200px;
  display: block;
  flex-direction: column;
  font-size: 9px;
}

.media-container{
  display: block;
  flex-direction: row;

}
form{
  margin-top: 100%;
  width:100%;
  height:50%;
}

.lets-talk h7 .find-us *{
  padding:0;
  margin:0;
  margin-top:-300px;
  margin-bottom:-200px;
}

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .storemodal-content {
    width: 100%;
    margin:0;
    padding:0;
}

.navbar-nav .navbar-brand  .nav-item *{
  width: 100%;
  height:100%;
  margin:0;
  padding:0;


}

#main-logo #homeBtn *{
width: 50px;
height:20px;
margin:0;
padding:0;
}


.home-modal-content{
  width:100%;
  margin:0;
  padding:0;
}

.jumbotron .jumbotron.jumbotron-fluid{
  width:100%;
  margin:0;
  padding:0;
}


.card-group .card1{
  width:100%;
  height:100%;
}

.card-img-top{
  margin-top:100px;
}
.footercard .lookWrap .container-form .section2 .section3 *{
  width:100%;
  height:100%;
  margin: -100%;
  padding:0;

}

.copyright-container{
  margin-left:-200px;
  display: block;
  flex-direction: column;
  font-size: 6px;
  margin-bottom: 50px;
}

.media-container{
  display: block;
  flex-direction: row;
  size: 9px;
  margin-bottom: 50px;

}
form {
  margin-top: 100%;
  margin-left:0%;
  width:100%;
  height:100%;
}


.lets-talk h7 .find-us *{
  padding:0;
  margin:0;
  margin-top:-300px;
  margin-bottom:-200px;
}
}
