.storemodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.storemodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.storeclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.storeclose:hover,
.storeclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The Client Portal Button */
.hmemodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.home-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.homeclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.homeclose:hover,
.homeclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* nav bar css*/
.navcustom{
  background-color:black !important;
  padding:0;
}

.navbar-light .navbar-nav .nav-link{
  color:white !important;
}

#main-logo{
  width:auto;
  height:70px;
  padding:15px;

}

button#storeBtn{
  background-color:transparent;
  border:none;
}

button#homeBtn{
  background-color:white;
  border:none;
  height:80px;
  width:150px;
}

button#homeBtn:hover{
  background-color:#2e6da4;
  color:white;
}

a.client-portal{
  color:black;
}

a.client-portal:hover{
  color:white;

}


header{
  width:100%;
  position:fixed;
  margin-bottom:75px;
  z-index:1;
}

.navbar-nav{
  margin:auto;
}



.lead-hello{
  text-align: center;
}

h2.title-home{
  text-align:center;
}

main{
  padding-top:80px;
}

.jumbotron.jumbotron-fluid{
  margin-top: -32px !important;
  background-color: black;

}

.card{
  margin-top:-33px;
}

.card-body{
  padding:40px;
  margin: auto;

}

.card-title{
  text-align:center;
}

.card-text{
  text-align:center;
}

.home-btn{
  margin:auto;
  display:block;
  width: 150px;
  margin-top:20px;
  border-radius: 15px;
}



.core-principles{
  max-width:100%;
  max-height:100%;
}

/*Footer */

.footercard{
  width: 100%;
  background-color: #4587a4;
  color: white;
  /* text-shadow: 2px 2px 4px #000000; */
  font-family: Arial, Helvetica, sans-serif;
 font-size: 15px;

}

.footer-container{
  margin-left: 100px;
  /* text-shadow: 2px 2px 4px #000000; */
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}



.row1{
    margin-top: 75px;
    margin-bottom:25px;
}

.col{
    margin-top: 15px;
}

.col1{
    margin-top: 20px;

}


.col2{
    margin-right: 10px;
    padding: 10px;;
}

.media-container{
    width: 30%;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.copyright-container{
    width: 100%;
    text-align: center;
}

.col3{
    text-align: center;
    margin-bottom: 5px;
}

.container-links{
    float: right;
    margin-top:0;
    margin-right:250px;
}

.card-deck{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

a{
    /* text-shadow: 2px 2px 4px #000000; */
    color:white;
}

/*Scroll Button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 99;
  font-size: 5px;
  border: none;
  outline: none;
  background-color: lightgray;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: lightgray;
}

@media only screen
and (min-device-width: 320px) {
body{
    background-color:lightgray;
}

iframe {
    width:100%;
    height:100%;
}

/*Splash page*/
.large-header .jumbotron {
	position: relative;
	width: 100%;
  min-height: 1000px;
  height:100%;
  margin-left:50%;
  margin-right:50%;
  padding:50%;
background-color:black;
	overflow: hidden;
	background-size: cover;
  background-position: center center;
  

}

}

.jumbotron{
background-image: url("https://media.giphy.com/media/3oKIPpFhwsMNrRIjN6/giphy.gif");  
background-repeat: no-repeat;
 background-size: cover;

}


/*Text animation */

.sentence > p {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 50px;
	font-family: sans-serif;

}
.credit {
	position: fixed;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	font-size: 14px;
	text-decoration: none;
	color: white;
}