body, a,button, p, h2, nav, h1, .footercard {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.contact-image{
  height:400px;

}

.jumbotron {
    background-size: cover;
    background-position: center;
    width:100%;
  }




  .footercard{
    width: 100%;
    background-color: #4587a4;
    color: white;
    /* text-shadow: 2px 2px 4px #000000; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 15px;

}

.footer-container{
    margin-left: 100px;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



  .row1{
      margin-top: 75px;
      margin-bottom:25px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .col{
      margin-top: 15px;
  }

  .col1{
      margin-top: 20px;

  }


  .col2{
      margin-right: 10px;
      padding: 10px;;
  }

  .copyright-container{
      width: 100%;
      text-align: center;
      margin:0;
  }


  .container-links{
      float: right;
      margin-top:0;
      /* margin-right:250px; */
      width:100%;
  }

  .card-deck{
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 100px;
      margin-bottom: 100px;
  }

  a{
      /* text-shadow: 2px 2px 4px #000000; */
      color:white;
  }





  #myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    font-size: 5px;
    border: none;
    outline: none;
    background-color: lightgray;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #myBtn:hover {
    background-color: lightgray;
  }

   /*//////Store Drop Down Menu/////*/
/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  color:white !important;
  text-align: center;
  /* padding-top:28px; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  height:80px;
  padding-right: 20px;
  padding-left: 15px;
  margin-top:0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: black;}



/* nav bar css*/
.navcustom{
  background-color:black !important;
  padding:0 !important;
}

.navbar-light .navbar-nav .nav-link{
  color:white !important;
  text-align: center;
  padding-top:28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  height:80px;
  padding-right: 15px;
  padding-left: 15px;

}


a.navbar-light .navbar-nav .nav-link{
margin-top:10px;
}

.navbar-light .navbar-nav .nav-link:hover{
background-color:rgb(1,51,120, 0.4);

}

#main-logo{
  width:auto;
  height:70px;
  padding:15px;

}



header{
  width:100%;
  position:fixed;
  margin-bottom:75px;
  z-index:1;
}

.navbar-nav{
  margin:auto;
}


.lead-hello{
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2.title-home{
  text-align:center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
  padding-top:80px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/*//////Scroll Button/////////*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    font-size: 5px;
    border: none;
    outline: none;
    background-color: lightgray;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #myBtn:hover {
    background-color: lightgray;
  }

/*New Footer */
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #2e6da4;
font-size: 30px;
float: left;

}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background:#2e6da4 ;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #2e6da4;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #2e6da4;
  padding: 13px 20px;
  border: 1px solid #2e6da4;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #2e6da4;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #2e6da4;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}

ul {
  overflow: auto;
}

ul li {
  list-style-type: none;
  float: left;
}

ul li a i {
  background: #205D7A;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  padding-top: 15%;
  transition: all 0.2s ease-in-out;
}
.fa-facebook {
  background:#3b5998
}
.fa-linkedin {
  background:#007bb6
}
.fa-twitter {
  background:#00aced
}
.google-plus {
  background:#dd4b39
}
ul li a i:hover {
  opacity: .7;
}


/*//////Store Drop Down Menu/////*/
/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  color:white !important;
  text-align: center;
  /* padding-top:28px; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  height:80px;
  padding-right: 20px;
  padding-left: 15px;
  margin-top:0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: black;}

/*////Modal-Client Portal///////*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*/////////Modal ////*/
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
header{
  width:100%;
  margin:0;
}
.storemodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.storemodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 750px;
    border-radius: 5px;
}

p.index-modal-title{
  font-size:35px;
  text-align: center;
  position: relative;
}

p.index-modal-title{
  margin-bottom: 25px;
}

p.index-modal-subtitle{
  font-size:15px;
  text-align: center;
  position: relative;
  margin-bottom: 28px;
  display: block;
}



a.client-portal-modal{
  color: white;
  line-height: none;
  text-decoration: none;
}

.modal-buttons-index{
  display: flex;
}

/* The Close Button */
.storeclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.storeclose:hover,
.storeclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The Client Portal Button */
.hmemodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.home-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 750px;
  border-radius: 5px;
}

/* The Close Button */
.homeclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.homeclose:hover,
.homeclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* nav bar css*/

.navbar{
  background-color: black !important;
  padding:0 !important;
  position: fixed;
  width: 100%;
  transition: 0.35s all ease;
  z-index: 2;
}



.navbar-light .navbar-nav .nav-link{
  color:white !important;
  text-align: center;
  padding-top:28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  height:80px;
  padding-right: 15px;
  padding-left: 15px;
  font-size:1.1rem;
}




a.navbar-light .navbar-nav .nav-link{
margin-top:10px;
}

.navbar-light .navbar-nav .nav-link:hover{
background-color:rgb(1,51,120, 0.4);

}

#main-logo{
  width:auto;
  height:70px;
  padding:15px;

}

button#myBtn1 {
  background-color:white;
  border:none;
  height:80px;
  width:150px;
  align-content: flex-end;
  margin:0;
  padding:0;
  color:black;


}

button#myBtn1:hover{
  background-color:#2e6da4;
  color:white;
}

a.client-portal{
  color:black;
}

a.client-portal:hover{
  color:white;

}


header{
  width:100%;
  position:fixed;
  margin-bottom:75px;
  z-index:1;
}

.navbar-nav{
  margin:auto;
}


.lead-hello{
  text-align: center;
}

h2.title-home{
  text-align:center;
}

main{
  padding-top:80px;
}


/*///////////////////Main Body//////////////////////*/

  .headerimagecontainer {
    /* height: 340px; */
    position: relative;
  }
  .headercontent {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
  .headercontent h1 {
    font-size: 3.750em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    line-height: 1.25;
    margin-bottom: 50px

  }
  .headercontent img {
    margin-top: -15px;
  }
  .benefitscontainer {
    margin-top: 10px;
  }
  .headercontent p,
  .benefitscontainer p {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    letter-spacing: 0.01em;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .headercontent p {
    width:60%;
  }
  .headercontent span {
    color: #0172bf;
  }
  .headercontent a {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    line-height: 1;
    cursor: pointer;
    background-color: #0172bf;
    border: none;
    border-radius: 0;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  .headercontent a:hover {
    background: #0172bf;
  }
  .benefitscontainer {
    text-align: center;
  }
  .benefitscontainer ul {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .benefitscontainer h2, .current-openings h2 {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    line-height: 1.25;
    text-align: center;
  }
  .benefitscontainer h3 {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #6d6e71;
    margin: 15px 0 20px 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.25;
  }

  .pto *{
margin-right:30px;

  }


  #bottom-adjustment {
    margin-top: 20px;
  }
  #location {
    margin-top: 0;
  }
  .benefitscontainer p {
    color: #6d6e71;
  }
  .benefitscontainer span {
    font-size: .75rem;
  }
  .benefitscontainer li {
    width: 20%;
    margin-bottom: 50px;
    list-style: none;
  }
  .benefitscontainer img {
    width: 30%;
  }
  .variable-width button {
    display: none !important;
  }
  .variable-width img {
    margin: 0 15px;
  }
  .overall-carousel {
    overflow: hidden;
  }
  .ribbons-total {
    display: flex;
    justify-content: center;
    margin-bottom: -1.4em;
  }
  aside {
    line-height: 40px;
    position: relative;
  }
  aside.ribbons {
    background-color: #0172bf;
    width: 18em;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .05em;
    /* z-index: 200;
    margin-right: 2em; */
  }
  .ribbons a, .grey-ribbon a {
    cursor: pointer;
  }
  .ribbons:after{
    border-width: 20px 10px 20px 0;
    border-color: #0172bf transparent;
    right: -10px;
  }
  .ribbons:before, .grey-ribbon:before {
    border-width: 20px 0 20px 10px;
    left: -10px;
  }
  .ribbons:before {
    border-color: #0172bf transparent;
  }
  aside:before, aside:after {
    content: '';
    position: absolute;
    border-style: solid;
  }
  aside.grey-ribbon {
    background-color: white;
    width: 18em;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .05em;
    z-index: 200;
    margin-left: 2em;
  }
  .grey-ribbon:after{
    border-width: 20px 10px 20px 0;
    /* border-color: grey transparent; */
    right: -10px;
  }
  .grey-ribbon:before {
    /* border-color: grey transparent; */
  }
  .current-openings {
    margin: 3.5em 0;
  }
  #whr_embed_hook {
    width: 75%;
    margin: auto;
  }
  .whr-info {
    display: flex;
    justify-content: space-between;
    width: 50%;
    flex-wrap: wrap;
    margin-right: 2.5em;
  }
  .whr-info span {
    display: none;
  }
  .whr-item {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2em;
  }
  .whr-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .whr-title a {
    color: #0172bf;
  }
  .whr-location, .whr-date {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .job-labels {
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
    width: 75%;
  }
  .whr-dept, .department {
    display: none;
  }
  .location {
    padding-left: 3em;
  }
  @media (max-width: 1199px) {
    .pagecontainer {
      width: 100%;
    }
    #whr_embed_hook, .job-labels {
      width: 75%;
      margin: 2em auto;
    }
  }
  @media (max-width: 900px) {
    .benefitscontainer li {
      width: 45%;
      margin-bottom: 0;
    }
    #ul2 {
      margin-top: 0;
    }
    .location {
      padding-left: 3em;
    }
  }
  @media (max-width: 780px) {
    .whr-info {
      width: 55%;
    }
    .location {
      padding-left: 5em;
    }
  }
  @media (max-width: 767px) {
    .overall-carousel {
      display: none;
    }
    #whr_embed_hook, .job-labels {
      width: 95%;
    }
  }
  @media (max-width: 568px) {
    .whr-info {
      margin: 1em auto;
      width: 100%;
    }
    #whr_embed_hook, .job-labels {
      width: 75%;
    }
  }
  @media (max-width: 480px) {
    .headercontent h1 {
      font-size: 2em;
    }
    .headercontent img {
      width: 30%;
    }
    .benefitscontainer li {
      width: 75%;
      margin-bottom: 0;
    }
    #whr_embed_hook, .job-labels {
      width: 95%;
      margin: 2em auto;
    }
    .location {
      padding-left: 0;
    }
  }

  /*//////////////////////Carousel #1//////////////*/
  .carousel-item {
      width: 100%;
      height:400px;
      align-content: center;
  }

.col-md{
    width:1000px;
}

/*/////////////////Carousel #2//////////*/

.container{
  /* background-color: #292B2C; */
  position: relative;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.carousel{
  background-color: #505456;
  width: 100%;
  min-width: 800px;
  height: 300px;
  margin: auto;
  border-radius: 6px;
  padding: 8px;
  box-shadow: 0 4px 10px #000;
  font-size: 0;
  box-sizing: content-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.image-wrapper{
  border-radius: 5px;
  overflow: hidden;
  height: 300px;
}
.image-wrapper ul{
  list-style-type: none;
  white-space: nowrap;
  height: 300px;
}
.image-wrapper li{
  display: inline-block;
  height: 100%;
}
.image-wrapper li>img{
  height: 100%;
}






/*///Typing Text for Benefits/////*/
#reg_ai{
	display:table;
	width:100%;
height: 100%;}
h1{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
  color: #2e6da4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ================================= *
 * AI Styling
 ==================================== */
 .typewriter:after {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-right: 0.15em solid #7561ff;
  animation: caret_typewriter 1s steps(1) infinite;
  content: "";
}
/* @-webkit-keyframes{
  50% {
    border-color: transparent;
  }
}
@keyframes caret_typewriter {
  50% {
    border-color: transparent;
  }
} */


/*////Responsive Image Grid/////*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.img-grid{
  background-image: url("../images/culture/careers-background.svg");
}

.quote{
  background-image: url("../images/culture/careers-background.svg");
  height: 430px;
  width:650px;
}

/*////////Media Queries//////////////////////*/
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
/*Img Grid*/
img{
  margin-left:50px;
}

  }

  /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

  @media (min-width: 1025px) and (max-width: 1280px) {
    /*Quote image*/
    .contact-image{
      width:480px;
    }
/*Img Grid*/
    img{
      margin-left:-80px;
    }

    /*Footer*/
    .section2{
      margin-left:-200px !important;
    }
  }

  /*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) {
  /*Img Grid*/
   .baby-pic{
     margin-left:100px;
   }


  /*Footer*/
  .copyright-container{
    margin-left: -900px !important;
  }

  .media-container *{
    width: min-content;

  }

  .section2 *{

      width: unset;
  }

  .rights-reserved *{
  width: 0px;
  }

  .mu{
    margin-left:100px;
  }

  /*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  }

  /*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

  @media (min-width: 481px) and (max-width: 767px) {
  /*Img Grid*/
  .baby-pic *{
    margin-right:900px !important;
  }


    /*Footer*/
    .container-form, #main-logo{
  margin-left:-50px;
    }

    .mu{
      margin-top: 100px !important;
      margin-left:-50px !important;
    }
     a.card-link, .mu{
      margin-left:-100px;
      margin-left:50px !important;
    }

    .fus{
      margin-top: -20px;
      margin-left:-5px !important;
    }


    .find-us{
      margin-left:-5px !important;
    }

    .lt{
      margin-top: 10px;
      margin-left:-2px !important;
    }
    .lets-talk{
      margin-left:-5px !important;
    }
    .media-container{
      margin-left: -50px;
    }

  /*Portal*/

  /*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

  @media (min-width: 320px) and (max-width: 480px) {
   /*Footer*/
   .container-form, #main-logo{
    margin-right:-10000px;
      }

      .mu{
        margin-top: 100px !important;
        margin-left:50px !important;
      }
       a.card-link, .mu{
        margin-left:-100px;
        margin-left:50px !important;
      }

      .fus{
        margin-top: -20px;
        margin-left:-5px !important;
      }


      .find-us{
        margin-left:-5px !important;
      }

      .lt{
        margin-top: 10px;
        margin-left:-2px !important;
      }
      .lets-talk{
        margin-left:-5px !important;
      }
      .media-container{
        margin-left: -50px;
      }


  }


  /*//////////////End Media Queries///////////*/

  }





  }


  /* .pagecontainer {
      width: 100%;
      height: auto;
      margin: 0 auto;
      margin-top: 25px;
      background-color: white !important;
    } */

  /*  .pagecontainer, h2{
    text-align: center;
    } */

  /*  .pagecontainer ul {
      padding: 0;
      margin-bottom: 1px;
      margin-top: 1px;
    } */

/*           APPLY NOW SECTION                 */
.pagecontainer{
  width:100%;
  height:auto;
  margin-top:50px;
}
.pagecontainer-testimonial{
  width:100%;
  height:auto;
  margin-top:50px;
  background-color: rgba(245, 245, 245, 1);
}

.title{
  text-align: center;
}

.underline{
  text-align:center;
  color:#2e6da4;
}

.careers-view{
  color:gray;
  margin-bottom:20px;
  text-align:center;
}

a.careers-view:hover{
  text-decoration:none;
}

.apply-now-container{
  background-color:#337ab7;
  margin: 0 auto;
  border-radius:10px;
  width:150px;
}

.apply-now{
  text-align:center;
  color:white;
  padding:10px;

}

/*        Employee Reviews         */
.employee-review-container{
  width:100%;
  height:auto;
  display:flex;
  flex-wrap:wrap;
  margin: 0 auto;
}

.review-box{
  width: 500px;
  height: auto;
  background-color:blue;
}



/*           BENEFITS                 */

.careers-benefits-container{
  width:100%;
  height:auto;
  margin-top:-75px;
}

iframe.testimonial-frame{
  width:100%;
  height:91vh;
  margin: 0 auto;
  overflow:hidden;
  border:none;

}
