body{
  margin: 0 auto;
}

.main-nav{
  background-color:black;
  width:100%;
  height:46px;
  color: white;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float: right;
}

.main-nav li {
float: left;
}

.main-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav li a:hover {
  background-color: #111;
}

.top-nav{
  background-color:white;
  width:100%;
  height:25px;
  color:white;
}

.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float:right;
}

.top-nav li {
  float: left;
}

.top-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 6.8px 16px;
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
}

.top-nav li a:hover {
  background-color: #111;
}

.top-nav li a.menu-no-color{
  color:black;
  background-color: white;
}
